@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1></div>

<div class="row">
    <div>
        <p><a href="#/!">Home</a></p>
        <p><a href="#!product">product</a></p>
    </div>
    <ng-view></ng-view>
</div>


@section Scripts {
    @*@Scripts.Render("~/bundles/app")*@
    @Scripts.Render("~/scripts/dist/app.js")
}